.logo {
  width: 100px;
  height:100px;
}
body {
  background-image: url("https://raw.githubusercontent.com/haidewandaga/websiteproject.github.io/master/img/forest.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.loletter {
  padding-left: 2em;
  width: 100px;
  height: 30px;
}
.welcome {
  width: 900px;
  height: 55px;
  text-align: center;
}
#left {
  
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
  position: relative;
  float: right;
  margin-top: 80px;
  width: 800%;
  height: 500px;
  margin-bottom: 10px
}
#category {
   font-family: Tahoma, Geneva, sans-serif;
   text-align: center;
   width: 1200px;
   height: 50px;
   background-image: url("http://www.photohdx.com/images/2016/02/green-horizontal-lines-texture-background.jpg" );
}
#menu {
    width: 1200px;
    height: 50px;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
    border-radius: 8px;
    background-image: url("http://www.photohdx.com/images/2016/02/green-horizontal-lines-texture-background.jpg" );
}
#menu li { 
display: inline; 
padding: 20px; 
}
#menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}
